.redditColumn {
    @include grid-column(12);
    .singleReddit {
        @include grid-row;
        @include grid-column(12);
        @include border-radius(20px);
        padding:25px;
        margin:0px;
         h6 {
            @include grid_column(9);
            color:$color_cream;
            font-size:1em;
        }
        img.thumbnail {
            @include grid_column(2);
            display:inline-block;
        }
        .votes {
            @include grid-column(1);
            padding-top:10px;
            .up {
                color: orangered;
            }
            .down {
                color: lightblue;
            }
        }
        .thumbnail {
            width:auto;
            height:100%;
        }
    }

}
