
$color_blue: #121926;
$color_lightblue: #464E5A;
$color_cream: #F1F1CD;
$color_slacks: #BEB9AB;
$color_gray: #8A8381;

/*
============ end variables ============
*/



/*
============ end fonts ============
*/


/*
============ end base styles ============
*/

html, body {
    background: $color_blue;
    margin-top:20px;
    color: $color_cream;
}

section, article, h1, h2, h3, h4, h5 {
    color: $color_cream;
}

a {
    color:$color_cream;
    text-decoration:none;
}


@import "views/base";
@import "views/columns";
