{{! put your application level stuff here }}
<section id="main">
    <section class="navigation">

        <nav class="primary">
            {{#linkTo 'index'}}home{{/linkTo}}
        </nav>

        <nav class="secondary">
             {{input type="text" action="addNewSubreddit"}}
        </nav>

    </section>

    <section class="container">
        {{outlet}}
    </section>

    <footer>currently active subreddits: </footer>
</section>
